{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
  <div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
      <div class="example-container">
        {%- if section.settings.heading != blank -%}
        <div class="slider-top-content">
          <h2
            class="rich-text__heading rte inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ section.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {{ section.settings.heading }}
          </h2>
          <div
            class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ section.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {{ section.settings.text }}
          </div>
        </div>
        {% endif %}
          <section class="gallery-slider XXXXX">
              <div class="gallery-slider__slider XXXXX__slider">
                  {% for block in section.blocks %}
                      <a href="{{ block.settings.image | img_url: 'master' }}" class="gallery-slider__slide" data-toggle="lightbox">
                          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
                      </a>
                  {% endfor %}
              </div>
          </section>
      </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(".XXXXX__slider").slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      centerMode: {{ section.settings.enable_center_mode | json }}, // Use section setting
      centerPadding: "0px", // Adjust padding if needed
      infinite: true,
      dots: false,
      arrows: false,
      focusOnSelect: true
    });

    $(".XXXXX__slider").slickLightbox({
      itemSelector: "a",
      navigateByKeyboard: true
    });
  });
</script>
{% schema %}
  {
    "name": "Gallery Slider Story",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "default": true,
        "label": "t:sections.rich-text.settings.full_width.label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "checkbox",
        "id": "enable_center_mode",
        "label": "Enable Center Mode",
        "default": false
      },
      {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
      {
        "type": "richtext",
        "id": "text",
        "default": "t:sections.rich-text.blocks.text.settings.text.default",
        "label": "t:sections.rich-text.blocks.text.settings.text.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 52
      }
    ],
    "blocks": [
    {
      "type": "image",
      "name": "Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        }
      ]
    }
  ],
    "presets": [
      {
      "name": "Gallery Slider Section Story",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
    ]
  }
{% endschema %}